*.vsix
out
node_modules
.vscode-test

# Build related
build-results/
BuildArtifacts/
docs/input/tasks
tools/**
!tools/packages.config

# until we move to Yarn
yarn.lock

# Mac OS X files
.DS_Store

# License file copied to chocolatey directory
chocolatey/tools/LICENSE.txt
config.wyam.hash

[Bb]in/
[Oo]bj/
