<div class="github-button">
    <a href="https://github.com/chocolatey-community/chocolatey-vscode"><i class="fa fa-github"></i> GitHub</a>
</div>
<script>
    ((window.gitter = {}).chat = {}).options = {
        room: 'chocolatey-community/chocolatey-vscode'
    };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
