---
Title: Chocolatey Visual Studio Code Extension
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Chocolatey Visual Studio Code Extension</h1>
        <p>
            This extension brings support for Chocolatey to Visual Studio Code.<br/>
        </p>
        <a class="btn btn-primary btn-lg" href="docs" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" href="docs/commands" role="button">Commands</a>
    </div>
</div>
