---
Description: Package validation rules
---

<div class="alert alert-warning">
  <p>
    <strong>Preliminary Notice</strong> <br />
    Rules is not yet available in the current version of chocolatey-vscode.
    It is a planned feature for 0.8.0.
  </p>
</div>

<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

@Html.Partial("_ChildPages")
